<header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
                    width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
                我的餐廳清單
            </a>
        </div>
    </nav>
    <div class="banner"></div>
    {{!-- 載入font awesome icon --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    {{!-- 載入Bootstrap CSS--}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    {{!-- 載入layout css --}}
    <link rel="stylesheet" href="/stylesheets/layout.css">
</header> 

{{!--局部樣版取代處  --}}
{{{body}}}

{{!-- 載入Popper.js & Bootstrap js --}}
<script scr="/javascripts/popper.js"> </script>
<script src="/javascripts/bootstrap.js"></script>
