<form action="/restaurants"  method="POST">
<div class="col">
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="name" name="name">
</div>
<div class=" col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="category" name="category">
</div>
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="image url" name="image"></div>
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="location" name="location">
 </div>
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="phone" name="phone">
 </div>
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="google map url" name="google_map">
 </div>
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="rating" name="rating">
 </div>
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <input type="text" placeholder="description" name="description">
</div> 
<div class="col-sm-15 mb-3 d-flex justify-content-center">
 <button>create restaurant</button>
 </div>
 </div>

</form>